@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
}
.wrapper {
    display:flex;
    flex-direction:row;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color:#fff;
    color: #1c1e21;
    line-height: 1.34;
    margin: 0;
    padding: 2rem;
    unicode-bidi: embed;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.left .logo {
    background-image: url(../img/dF5SId3UHWd.svg)
    padding: 8px 0 16px 0;
    display: block;
}

.navbar {
    width:100vw;
    height: 100vh;
    overflow:hidden;
    background-color:aqua;
}